/* sets the background image and color, and adjusts the size and repetition of the background image */
body {
    background-image: url("Images/pagebg.jpg");
    background-color: #e2837d;
    background-repeat: no-repeat;
    background-size: cover;
}

/* centers and stylizes heading */
.headWords {
    text-align: right;
    color: #e2837d;
    text-shadow: 3px 3px 5px white;
    margin-left: 5px;
    font-family: Georgia, serif;
    font-size: xx-large;
    width: 950px; 
    word-wrap: normal;
}
.headWords:hover {
  color: white;
  text-shadow: 3px 3px 5px #e2837d;
}

/* Archive */
.gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 10px;
  width: 100%;
  height: 100vh;
  padding: 10px;
  box-sizing: border-box;
}

iframe:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 10px;
  width: 100%;
  height: 100vh;
  padding: 10px;
  box-sizing: border-box;
}


/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 10px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Main Page */
iframe{
  height: 250px;
  width: 400px;
  border:5px solid white;
  
}

iframe:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.videos {
  display:flex;
  justify-content:center;
  flex-flow:row wrap;
  list-style:none;
  margin:0;
  padding:0;
  
}
.videos li {
  margin:8px;
  display:flex;
  flex-flow:column;
  align-items:center;
  color: white;
}

/* centers an element within its container */

.chiveButton{
  position: fixed;
  top: 10px;
  right: 100px;
  padding: 10px;
  background-color: #e2837d;
  color: #fff;
  border: 1px solid white;
  border-radius: 5px;
}


.boutusButton {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 10px;
  background-color: #e2837d;
  color: #fff;
  border: 1px solid white;
  border-radius: 5px;
}

button:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color:white;
  color: #e2837d
}




  
  
  
  
  
  
  







