absl-py==1.4.0
aiohttp==3.8.4
aiosignal==1.3.1
anaconda==0.0.1.1
appnope==0.1.2
arcade==2.4.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
astunparse==1.6.3
async-timeout==4.0.2
attrs==20.3.0
backcall==0.2.0
backports.entry-points-selectable==1.1.1
bleach==4.1.0
bqplot==0.11.0
cachetools==5.3.0
certifi==2021.10.8
cffi==1.14.5
charset-normalizer==2.0.12
click==8.1.3
conda==4.3.16
cycler==0.11.0
debugpy==1.5.1
decorator==5.1.0
defusedxml==0.7.1
distlib==0.3.4
docopt==0.6.2
entrypoints==0.3
filelock==3.4.0
Flask==2.2.3
flatbuffers==23.3.3
fonttools==4.28.4
frozenlist==1.3.3
gast==0.4.0
google-pasta==0.2.0
googleapis-common-protos==1.54.0
grpcio==1.53.0
idna==3.3
importlib-metadata==6.5.0
ipykernel==6.4.2
ipython==7.30.1
ipython-genutils==0.2.0
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.2
joblib==1.2.0
jsonschema==4.3.0
jupyter==1.0.0
jupyter-client==7.1.0
jupyter-console==6.4.0
jupyter-core==4.9.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
keras==2.12.0
kiwisolver==1.3.2
libclang==16.0.0
MarkupSafe==2.1.2
matplotlib==3.5.1
matplotlib-inline==0.1.3
mistune==0.8.4
multidict==6.0.4
mysql-connector-python==8.0.28
nbconvert==5.6.1
nbformat==4.4.0
nest-asyncio==1.5.4
notebook==6.4.6
numpy==1.23.5
oauthlib==3.2.2
openai==0.27.4
packaging==21.3
pandas==1.3.5
pandocfilters==1.5.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.1.0
platformdirs==2.4.0
prometheus-client==0.12.0
prompt-toolkit==3.0.24
protobuf==4.22.1
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycosat==0.6.3
pycparser==2.20
pyglet==1.5.15
Pygments==2.10.0
pymunk==5.7.0
pyparsing==3.0.6
pyrsistent==0.18.0
python-dateutil==2.8.2
pytiled-parser==0.9.4a3
pytz==2021.3
PyYAML==5.4.1
pyzmq==22.3.0
qtconsole==5.2.2
QtPy==1.11.3
requests==2.27.1
rsa==4.9
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
scikit-learn==1.2.2
scipy==1.10.1
Send2Trash==1.8.0
six==1.16.0
sklearn==0.0.post4
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
tensorflow-estimator==2.12.0
tensorflow-io-gcs-filesystem==0.32.0
termcolor==2.2.0
terminado==0.12.1
testpath==0.5.0
tflearn==0.5.0
threadpoolctl==3.1.0
toolz==0.11.2
tornado==6.1
tqdm==4.65.0
traitlets==4.3.3
traittypes==0.2.1
typing_extensions==4.5.0
urllib3==1.26.8
v1==0.12.3
virtualenv==20.10.0
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.2.3
widgetsnbextension==3.5.2
wrapt==1.14.1
yarl==1.8.2
zipp==3.15.0
