<html>
<body>

  <form method="post">
    Date: <input name="Date"/>
    <br/><br/>
    <button type="submit">Submit</button>
  </form>


  <div class="row" textalign="center"> 
    <div class="column">
      {% for i in c0 %}        
          <img src="data:image/jpeg;base64,{{ i }}">
      {% endfor %}
    </div>
    <div class="column">
      {% for i in c1 %}        
          <img src="data:image/jpeg;base64,{{ i }}">
      {% endfor %}
    </div> 
    <div class="column">
      {% for i in c2 %}        
          <img src="data:image/jpeg;base64,{{ i }}">
      {% endfor %}
    </div>
    <div class="column">
      {% for i in c3 %}        
          <img src="data:image/jpeg;base64,{{ i }}">
      {% endfor %}
    </div>
  </div>
  
      
    

      <!--Buttons-->
      
  
      <!-- <a href="index.html">
          <button class="chiveButton">Live Stream</button>
        </a>
    
        <a href="aboutUs.html">
          <button class="boutusButton"> About Us</button>
        </a> -->
      
    </body>
</html>
  