
<!DOCTYPE html>
<html>
  <head>
    <title>Sunset Finder</title>
    <meta charset="UTF-8">
    <meta name="author" content="Sunset Finder Team">
    <meta name="description" content="This page is connected to our sunset archives and livestreams">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel= "stylesheet"
    type= "text/css" 
    href= "{{ url_for('static',filename='styles/SunsetStyles.css') }}"
   >
  </head>
  <body>
   
  <div class="headWords">
    <h1> Sunset Finder </h1>
  </div>

    


      <ul class="videos">
        <li>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/yVnVm0aiIm4" title="Shineman Center Livestream" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          <h4> Shineman Livestream </h4>
        </li>
        <li>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/wfhQTU0HrpY" title="Hart Hall Livestream" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          <h4> Hart Livestream </h4>
        </li>
        <li>
          <iframe width="560" height="315" src="https://www.youtube.com/@SunsetFinder/live" title="Bastian Livestream" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          <h4> Shineman 4th Floor </h4>
        </li>
        <li>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/njyeYm45kik" title="Bastian Placeholder" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          <h4> Sunset Finder </h4>
        </li>
      </ul>


    <!--Buttons-->
    
 
    <a href="archive.html">
      <button class="chiveButton">Archive</button>
    </a>

    <a href="aboutUs.html">
      <button class="boutusButton"> About Us</button>
    </a>
    
  </body>
</html>
